<tr>
    <!-- Table data -->
    <td>
        <div class="d-flex align-items-center position-relative">
            <!-- Image -->
            <div class="avatar avatar-md mb-2 mb-md-0">
                <img src="{{participant.image.url}}" class="rounded" alt="">
            </div>
            <div class="mb-0 ms-2">
                <!-- Title -->
                <h6 class="mb-0"><a href="#" class="stretched-link">{{participant.get_full_name}}</a></h6>
                <!-- Address -->
                <span class="text-body small"><i class="fas fa-fw fa-map-marker-alt me-1 mt-1"></i>Kazakhstan</span>
            </div>
        </div>
    </td>

    <!-- Table data -->
    <td class="text-center text-sm-start">
        <div class=" overflow-hidden">
            <h6 class="mb-0">85%</h6>
            <div class="progress progress-sm bg-primary bg-opacity-10">
                <div class="progress-bar bg-primary aos" role="progressbar" data-aos="slide-right" data-aos-delay="200" data-aos-duration="1000" data-aos-easing="ease-in-out" style="width: 85%" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">
                </div>
            </div>
        </div>
    </td>

    <!-- Table data -->
    <td>10</td>

    <!-- Table data -->
    <td>4/1/2022</td>

    <!-- Table data -->
    {% if is_leader %}
    <td>
        <a href="#" class="btn btn-success-soft btn-round me-1 mb-0" data-bs-toggle="tooltip" data-bs-placement="top" title="Message"><i class="far fa-envelope"></i></a>
        <button class="btn btn-danger-soft btn-round mb-0" data-bs-toggle="tooltip" data-bs-placement="top" title="Block"><i class="fas fa-ban"></i></button>
    </td>
    {% endif %}
</tr>