<tr>
    <!-- Table data -->
    <td>
        <div class="d-flex align-items-center position-relative">
            <!-- Image -->
            <div class="avatar avatar-md mb-2 mb-md-0">
                <img src="{{member.image.url}}" class="rounded" alt="">
            </div>
            <div class="mb-0 ms-2">
                <!-- Title -->
                <h6 class="mb-0"><a href="#" class="stretched-link">{{member.get_full_name}}</a></h6>
                <!-- Address -->
                <span class="text-body small"><i class="fas fa-fw fa-map-marker-alt me-1 mt-1"></i>Kazakhstan</span>
            </div>
        </div>
    </td>

    <!-- Table data -->
    <td class="text-center text-sm-start">
        {% if member == team.leader %}
            <span class="badge bg-warning">Leader</span>
        {% else %}
            <span class="badge bg-success">Member</span>
        {% endif %}
    </td>
    <!-- Table data -->
    <td>4/1/2022</td>

    <!-- Table data -->
    {% if is_leader%}
    <td>
        {% if user != member %}
        <a href="/events/{{event.id}}/teams/{{team.id}}/members/{{member.id}}/kick" class="btn btn-danger-soft">Kick</a>
        {% else %}
        <button class='btn btn-danger'>Leave</button>
        {% endif %}
    </td>
    {% endif %}
</tr>