<!-- Card Item START -->
<div class="col-md-6 col-lg-4 col-xxl-3">
    <div class="card p-2 shadow h-100">
        <div class="rounded-top overflow-hidden">
            <div class="card-overlay-hover">
                <img src="{{team.image.url}}" style='height:240px' class="card-img-top" alt="course image">
            </div>
            <!-- Hover element -->
            <div class="card-img-overlay">
                <div class="card-element-hover d-flex justify-content-end">
                    <a href="/events/{{event.id}}/teams/{{team.id}}/about" class="icon-md bg-white rounded-circle">
                        <i style='font-size: 3em' class="bi bi-info text-info"></i>
                    </a>
                </div>
            </div>
        </div>
        <!-- Card body -->
        <div class="card-body px-2">
            <!-- Title -->
            <h6 class="card-title "><a href="#">{{team.name}}</a></h6>
            <div class="row g-0 align-items-center">
                <div class="avatar avatar-sm">
                    <img class="avatar-img rounded-circle" src="{{team.leader.image.url}}" alt="avatar">
                </div>
                <div class="card-body col-8">
                    <p class="m-0 card-text text-dark">{{team.leader.get_full_name}}</p>
                    <p class="card-text"><small class="text-muted">Team Leader</small></p>
                </div>
                
            </div>
            <hr>
            {% for skill in team.required_skills.all %}
                <a href="/teams?skill={{skill.name}}" class="badge bg-info bg-opacity-10 text-info"><i class="fas fa-circle small fw-bold"></i>{{skill.name}}</a>
            {% endfor %}
            
        </div>
    </div>
</div>
<!-- Card Item END -->
