<!DOCTYPE html>
<html lang="en">
<head>
    {% include "core/head_part.html" %}
</head>

<body>

{% include "core/topbar.html"%}
<!-- **************** MAIN CONTENT START **************** -->
<main>
    {% include "components/banner.html" with page='team_details' %}
<section class="pt-3">
    <!-- Main content START -->
    <div class="container">
        <div class="row">
            <div class="col-xl-9">
                <!-- Card START -->
                <div class="card border bg-transparent rounded-3">
                    <!-- Card body START -->
                    <div class="card-body">
                        {% include "components/team_participants_table.html"%}
                        {% if is_leader %}
                            {% include "components/team_join_requests_table.html"%}
                        {% endif %}
                    </div>
                    <!-- Card body START -->
                </div>
                <!-- Card END -->
            </div>

            <div class="col-xl-3">
                <!-- Responsive offcanvas body START -->
                {% if is_member %}
                <nav class="navbar navbar-light navbar-expand-xl mx-0">
                    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                        <!-- Offcanvas body -->
                        <div class="offcanvas-body p-3 p-xl-0">
                            <div class="bg-dark border rounded-3 pb-0 p-3 w-100">
                                <!-- Dashboard menu -->
                                <div class="list-group list-group-dark list-group-borderless">
                                    <h5 class="list-group-item" href="instructor-dashboard.html"><i class="bi bi-card-text fa-fw me-2"></i>Файлы команды</h5>
                                    {% for file in files %}
                                        <a class="list-group-item" href="{{file.file}}">{{file.name}}</a>
                                    {% endfor %}
                                    <h5 class="list-group-item" href="instructor-manage-course.html"><i class="bi bi-globe fa-fw me-2"></i>Полезные ссылки</h5>
                                    {% for url in urls %}
                                        <a class="list-group-item" href="{{url.url}}">{{url.name}}</a>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>
                {% elif join_requests %}
                    <button class="btn btn-info deactive" disabled href="">Ваша заявка рассматривается</button>
                {% else %}
                    <a class="btn btn-primary" href="/events/{{event.id}}/teams/{{team.id}}/join_requests/create">Присоединиться к команде</a>
                {% endif %}
                <!-- Responsive offcanvas body END -->
            </div>
        </div>
    </div>
</section>
<!-- Main content END -->
		</div><!-- Row END -->
	</div>
</section>
</main>
</body>
</html>