<!DOCTYPE html>
<html lang="en">
<head>
    {% include "core/head_part.html" %}
</head>

<body>

{% include "core/topbar.html"%}
<!-- **************** MAIN CONTENT START **************** -->
<main>
<section class="bg-dark align-items-center d-flex" style="background:url(assets/images/pattern/04.png) no-repeat center center; background-size:cover;">
    <!-- Main banner background image -->
    <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- Title -->
                    <h1 class="text-white">{{team.name}}</h1>
                    <!-- Breadcrumb -->
                    <div class="d-flex">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb breadcrumb-dark breadcrumb-dots mb-0">
                                <li class="breadcrumb-item"><a href="/">Events</a></li>
                                <li class="breadcrumb-item" ><a href="/events/{{event.id}}">{{event.name}}</a></li>
                                <li class="breadcrumb-item active" >{{team.name}}</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
    </div>
</section>
<!-- Main content START -->
<div class="col-xl-9">
    <!-- Card START -->
    <div class="card border bg-transparent rounded-3">
        <!-- Card body START -->
        <div class="card-body">

            <!-- Student list table START -->
            <div class="table-responsive border-0">
                <table class="table table-dark-gray align-middle p-4 mb-0 table-hover">
                    <!-- Table head -->
                    <thead>
                        <tr>
                            <th scope="col" class="border-0 rounded-start">Имя участника</th>
                            <th scope="col" class="border-0">Progress</th>
                            <th scope="col" class="border-0">Courses</th>
                            <th scope="col" class="border-0">Enrolled date</th>
                            {% if is_leader %}
                            <th scope="col" class="border-0 rounded-end">Action</th>
                            {% endif %}
                        </tr>
                    </thead>

                    <!-- Table body START -->
                    <tbody>
                        {% for participant in team.members.all %}
                            {% include 'components/team_participant_card.html' with participant=participant is_leader=is_leader%}
                        {% endfor %}
                    </tbody>
                    <!-- Table body END -->
                </table>
            </div>
            <!-- Student list table END -->
        </div>
        <!-- Card body START -->
    </div>
    <!-- Card END -->
</div>
<!-- Main content END -->
		</div><!-- Row END -->
	</div>
</section>
</main>
</body>
</html>