<!DOCTYPE html>
<html>
    <head>

        {% include "core/head_part.html" %}

      </head>

<body>

<!-- **************** MAIN CONTENT START **************** -->
<main class="row m-0 p-0" style='min-height: 100vh'>	
    <!-- left -->
    {% include "team/form_left_content.html" %}

    <!-- Right -->
    <div class="col-6 m-auto">    
        <h2 id="registration_topic"></h2>
    
        <!-- Form START -->
        <form class="user" method="post" action="/events/{{event.id}}/teams/create" enctype="multipart/form-data">
            {% csrf_token %}
            <!-- Name -->
            
            
            <!-- Email -->
            <div class="mb-4">
                <label class="form-label">Название команды</label>
                <div class="input-group input-group">
                    <span class="input-group-text bg-light rounded-start border-0 text-secondary px-3"><i class=""></i></span>
                    <input type="text" name="name" class="form-control border-0 bg-light rounded-end ps-1" placeholder="Придумайте что-нибудь креативное!">
                </div>
            </div>
            <div class="mb-4">
                <label class="form-label">Требуемые умения (необязательно)</label>
                {% for i in '01234' %}
                    {% include "components/dropdown_with_input.html" with options=skills placeholder='Skill' id=i %}
                {% endfor %}
            </div>
            <div class="col-12 mb-4">
                <label class="form-label">Загрузите изображение команды (необязательно)</label>
                <div class="text-center justify-content-center align-items-center p-2  border border-2 border-dashed position-relative rounded-3">
                    <!-- Image -->
                    <img src="assets/images/element/gallery.svg" class="h-50px" alt="">
                    <div>
                        <h6 class="my-2">Ператащите изображение, либо
                            <a class="text-primary">Выберите</a>
                        </h6>
                        <label style="cursor:pointer;">
                        <span>
                            <input class="form-control stretched-link" type="file" name="file" id="image" accept="image/gif, image/jpeg, image/png"/>
                        </span>
                        </label>
                        <p class="small mb-0 mt-3"><b>Внимание:</b> Поддерживаемые форматы
                            изображения: JPG, JPEG и PNG. Мы рекумендуем размер 600px *
                            450px. Изображения большего размера будут обрезаны к соотношению
                            4:3.</p>
                    </div>
                </div>
            </div>
            <div class="align-items-center mt-0">
                <div class="d-grid">
                    <button class="btn btn-primary mb-0" type="submit">Вперед</button>
                </div>
            </div>
        </form>
        <!-- Form END -->
            
    </div>
</main>
</body>

</html>